.left-container {
    width: 44%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.text-wrapper {
    overflow: hidden;
}

.text-wrapper div {
    transition: 0.5s;
}

@keyframes top-to-mid {
    0% {
        position: relative;
        top: -70px;
    }

    100% {
        position: relative;
        top: 0px;
    }
}

@keyframes down-to-mid {
    0% {
        position: relative;
        top: 70px;
    }

    100% {
        position: relative;
        top: 0;
    }

}

.main-heading {
    position: absolute;
    top: 27%;
    right: -3%;
    font-size: 1.5rem;
    z-index: 2;
}

.main-heading-text {
    font-size: 60px;
    font-weight: bold;
}

.main-heading img {
    height: 70px;
}

.bottom-right-heading {
    display: grid;
    justify-content: right;
}







.sub-heading {
    position: absolute;
    bottom: 5%;
    left: 8%;
    width: 55%;
}

.left-container .achivement {
    width: 45%;
    position: relative;
    top: 50%;
    left: 8%;
    z-index: 3;
}

.sub-heading-text {
    font-size: 50px;
    font-weight: bold;
    padding: 15px 0;
}

.sub-heading .sub-left-text {
    font-size: 18px;
}

.sub-heading .view-case-container {
    margin-top: 50px;
    font-size: 20px;
    display: grid;
    grid-auto-flow: column;
    cursor: pointer;
}

.sub-heading .view-case-container img {
    width: 30px;
    position: relative;
    left: -40%;
    top: 2px;
}

.bottom-part {
    font-size: 20px;
    position: absolute;
    right: 60px;
    bottom: 5%;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .left-container {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 50%;
    }

    .bg {
        width: 100%;
        height: 50%;
        top: 50%;
    }

    .main-heading,
    .bottom-part {
        display: none;
    }

    .sub-heading {
        width: 95%;
        left: 5%;
        bottom: 12%;
    }

    .left-container .achivement {
        width: 65%;
        border: 5px solid #6411A9;
        border-radius: 13px;
        position: relative;
        top: -10%;
        left: 5%;
        background-color: white;
    }
}