.left-container {
    width: 44%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.text-wrapper {
    overflow: hidden;
}

.text-wrapper div,
.text-wrapper img {
    transition: 0.5s;
    transform: translate(0, 110%);
}

.tab.active .text-wrapper div,
.tab.active .text-wrapper img {
    transform: translate(0, 0%) !important;

}

.tab.reverse .text-wrapper div,
.tab.reverse .text-wrapper img {
    transform: translate(0, -110%);
}

.main-heading {
    position: absolute;
    top: 25%;
    right: -3%;
    font-size: 1.5rem;
    z-index: 2;
    transition: 0.5s;
}

.main-heading-text {
    font-size: 60px;
    font-weight: bold;
}

.main-heading img {
    height: 70px;
}

.bottom-right-heading {
    display: grid;
    justify-content: right;
}







.sub-heading {
    position: absolute;
    bottom: 5%;
    left: 8%;
    width: 55%;
}

.left-container .achivement-container {
    width: 80%;
    z-index: 3;
    overflow: hidden;
}

.achivement-container .achivement {
    width: 100%;
    background-color: white;
    border-radius: 13px;
    opacity: 0;
}
.tab7 .achivement-container .achivement {
    background-color: transparent;
    border-radius: 0;
}

.tab.active .achivement-container .achivement {
    opacity: 1 !important;
}

.tab.reverse .achivement-container .achivement {
    opacity: 0;
}

.sub-heading-text {
    font-size: 50px;
    font-weight: bold;
    padding: 15px 0;
}

.sub-heading .sub-left-text {
    font-size: 18px;
}

.sub-heading .view-case-container {
    margin-top: 50px;
    font-size: 10px;
    opacity: 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.tab.active .sub-heading .view-case-container {
    opacity: 1;
}

.tab.active .sub-heading .view-case-container {
    font-size: 20px;
}

.sub-heading .view-case-container img {
    width: 30px;
    position: relative;
    left: 0%;
    top: 2px;
}

.coming-soon-container {
    margin-top: 50px;
    font-size: 10px;
    transition: 0.5s;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    opacity: 0;
}

.tab.active .coming-soon-container {
    font-size: 20px;
    opacity: 0.5;
}

.bottom-part {
    font-size: 20px;
    position: absolute;
    right: 60px;
    bottom: 5%;
    cursor: pointer;
}

.case-study-text {
    display: none;
}

@media (min-width: 768px) and (max-width: 1050px) {
    .tab1 .main-heading-text {
        font-size: 42px;
    }

    .tab5 .main-heading-text {
        font-size: 55px;
    }

    .tab6 .main-heading-text {
        font-size: 55px;
    }

    .sub-heading-text {
        font-size: 45px;
    }

    .tab7 .sub-heading-text {
        font-size: 36px;
    }

    .main-heading {
        top: 21%;
    }
}

@media only screen and (max-width: 768px) {
    .left-container {
        width: 100%;
        height: 50vh;
        position: relative;
        top: 50%;
    }

    .bg {
        width: 100%;
        height: 50%;
        top: 50%;
    }

    .main-heading,
    .bottom-part {
        display: none;
    }

    .sub-heading {
        width: 100%;
        left: 5%;
        bottom: 20%;
    }

    .left-container .achivement-container {
        width: 70%;
        position: relative;
        top: -10%;
        left: 0%;
    }

    .tab1 .achivement-container .achivement {
        border: 5px solid #6411A9;
        width: 90%;
    }


    .coming-soon-container, .tab.active .coming-soon-container {
        width: 100%;
        opacity: 1;
        display: grid;
        grid-auto-flow: column;
    }

    .case-study-text {
        display: block;
    }

    .coming-soon-container div:nth-child(2) {
        padding: 7px 15px;
        background: #fff;
        color: #000;
        border-radius: 50px;
        display: grid;
        justify-content: center;
    }

    .tab2 .coming-soon-container div:nth-child(2) {
        background-color: #FD2BA9;
        color: #fff;
    }
}