.right-container {
    width: 56%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}


.tab img {
    transition: 0.5s;
}

.tab .right-container,
.tab .left-container {
    transition: 1s;
}






.tab1 .right-container {
    background: #CDCBCF;
}


.tab1 .right-container img {
    width: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.tab1 .right-container img:nth-child(1) {
    top: 150%;
}

.tab1 .right-container img:nth-child(2) {
    top: 250%;
}

.tab1.active .right-container img {
    top: 50%;
}

.tab1 .right-container img:nth-child(1) {
    left: 30%;
}

.tab1 .right-container img:nth-child(2) {
    left: 65%;
}







.tab2 .right-container {
    background: #1D0363;
}

.tab2 .right-container img {
    width: 30%;
}

.tab2 .right-container img:nth-child(1) {
    position: absolute;
    bottom: -50%;
    right: 50%;
}

.tab2 .right-container img:nth-child(2) {
    position: absolute;
    right: 3%;
    top: -50%;
}

.tab2.active .right-container img:nth-child(1) {
    bottom: -8%;
}

.tab2.active .right-container img:nth-child(2) {
    top: -20%;
}







.tab3 .right-container {
    background: #151649;
}

.tab3 .right-container img:nth-child(1) {
    width: 38%;
    position: absolute;
    right: 40%;
    bottom: -50%;
}

.tab3 .right-container img:nth-child(2) {
    width: 31%;
    position: absolute;
    top: -50%;
    right: 5%;
}

.tab3.active .right-container img:nth-child(1) {
    bottom: 5%;
}

.tab3.active .right-container img:nth-child(2) {
    top: -18%;
}








.tab4 .right-container {
    background: #0E131C;
}


.tab4 .right-container img:nth-child(1) {
    width: 45%;
    position: absolute;
    left: -50%;
    top: -10%;
}

.tab4.active .right-container img:nth-child(1) {
    left: 0%;
}

.tab4 .right-container img:nth-child(2) {
    position: absolute;
    top: -80%;
    left: 52%;
    width: 28%;
}

.tab4.active .right-container img:nth-child(2) {
    top: 90px;
}

.tab4 .right-container img:nth-child(3) {
    width: 20%;
    position: absolute;
    top: -80%;
    right: 0;
}

.tab4.active .right-container img:nth-child(3) {
    top: -20%;
}

.tab4 .right-container img:nth-child(4) {
    position: absolute;
    bottom: -100%;
    left: 7%;
    width: 28%;
}

.tab4.active .right-container img:nth-child(4) {
    bottom: -120px;
}

.tab4 .right-container img:nth-child(5) {
    width: 45%;
    position: absolute;
    right: -50%;
    bottom: -15%;
}

.tab4.active .right-container img:nth-child(5) {
    right: -6%;
    z-index: 2;
}

.tab4 .right-container img:nth-child(6) {
    position: absolute;
    width: 28%;
    left: 52%;
    bottom: -24%;
    display: none;
}

.tab4 .right-container img:nth-child(7) {
    width: 20%;
    position: absolute;
    top: 40%;
    right: -9%;
    display: none;
}








.tab5 .right-container {
    background: lightskyblue;

}

.tab5 .right-container .sub-container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 2%;
    position: relative;
    left: 13%;
}

.tab5 .right-container .sub-container div {
    display: grid;
    grid-auto-flow: row;
    position: relative;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.tab5 .right-container .sub-container div:nth-child(1) {
    gap: 14%;
    top: -16%;
}

.tab5 .right-container .sub-container div:nth-child(2) {
    gap: 15%;
    top: -5%;
}

.tab5 .right-container .sub-container div:nth-child(1) img:nth-child(1),
.tab5 .right-container .sub-container div:nth-child(2) img:nth-child(1) {
    top: -50%;
}

.tab5.active .right-container .sub-container div:nth-child(1) img:nth-child(1),
.tab5.active .right-container .sub-container div:nth-child(2) img:nth-child(1) {
    top: 0%;
}

.tab5 .right-container .sub-container div:nth-child(1) img:nth-child(2),
.tab5 .right-container .sub-container div:nth-child(2) img:nth-child(2) {
    top: 50%;
}

.tab5.active .right-container .sub-container div:nth-child(1) img:nth-child(2),
.tab5.active .right-container .sub-container div:nth-child(2) img:nth-child(2) {
    top: 0%;
}

.tab5 .right-container .sub-container div:nth-child(3) img {
    padding-left: 150%;
}

.tab5.active .right-container .sub-container div:nth-child(3) img {
    padding-left: 0;
}

.tab5 .right-container .sub-container div:nth-child(3) {
    justify-content: center;
    align-items: center;
}

.tab5 .right-container img {
    width: 100%;
    position: relative;
    top: 0dvh;
}









.tab6 .right-container img {
    width: 100%;
}

.tab6 .right-container img:nth-child(1) {
    width: 100%;
    height: 100%;
}

.tab6 .right-container img:nth-child(2) {
    position: absolute;
    top: 80%;
    left: 0;
}

.tab6.active .right-container img:nth-child(2) {
    top: 0;
}








.tab7 .right-container {
    background: #01B76A;
}

.tab7 .right-container img:nth-child(1) {
    position: absolute;
    width: 40%;
    bottom: -130%;
    right: 29%;
    z-index: 2;
}

.tab7 .right-container img:nth-child(2) {
    position: absolute;
    width: 30%;
    bottom: -60%;
    right: 10%;
}

.tab7.active .right-container img:nth-child(1) {
    bottom: -13%;
}

.tab7.active .right-container img:nth-child(2) {
    bottom: -6%;
}





@media only screen and (max-width: 768px) {
    .right-container {
        width: 100%;
        height: 50%;
        position: relative;
        top: -50%;
        left: 0;
    }

    .tab {
        transition: 0s;
        width: 100%;
    }

    .tab img {
        transition: 0s;
    }

    .tab1 .left-container {
        background-color: #6411A9;
    }

    .tab1.active .right-container img {
        transform: translate(0, 0);
        width: 61%;
        top: 15%;
    }

    .tab1.active .right-container img:nth-child(1) {
        left: -5%;
    }

    .tab1.active .right-container img:nth-child(2) {
        left: 44%
    }

    .tab2 .left-container {
        background: linear-gradient(135deg, #C62BB2, #5826C7);
    }

    .tab3 .left-container {
        background-color: #0F113B;
    }

    .tab2 .right-container img {
        width: 45%;
    }

    .tab3.active .right-container img:nth-child(1) {
        right: 47%;
        bottom: -35%;
        width: 58%;
    }

    .tab3.active .right-container img:nth-child(2) {
        top: -27%;
        right: 1%;
        width: 47%;
    }

    .tab4 .left-container {
        background-color: #17263C;
    }

    .tab4 .right-container img:nth-child(2),
    .tab4 .right-container img:nth-child(4),
    .tab4 .right-container img:nth-child(6) {
        width: 40%;
    }

    .tab4.active .right-container img:nth-child(2) {
        top: -10%;
        left: 46%;
    }

    .tab4.active .right-container img:nth-child(3) {
        top: -32%;
    }

    .tab4.active .right-container img:nth-child(4) {
        bottom: -20%;
    }

    .tab4.active .right-container img:nth-child(5) {
        right: -30%
    }

    .tab4 .right-container img:nth-child(6) {
        left: 46%;
        display: block;
    }

    .tab4 .right-container img:nth-child(7) {
        display: block;

    }

    .tab5 .left-container {
        background-color: #124AA3;
    }

    .tab5 .right-container .sub-container {
        grid-template-columns: 38% 38% 38%;
        gap: 0;
        left: 2%;
    }

    .tab5 .right-container .sub-container div:nth-child(1) {
        gap: 0%;
        top: -16%;
    }

    .tab5 .right-container .sub-container div:nth-child(2) {
        gap: 0%;
        top: -5%;
    }

    .tab6 .left-container {
        background-color: #022A91;
    }

    .tab7 .left-container {
        background-color: #01824D;
    }

    .tab7 .right-container img:nth-child(1) {
        width: 68%;
    }

    .tab7 .right-container img:nth-child(2) {
        width: 53%;

    }

    .tab7.active .right-container img:nth-child(1) {
        bottom: -50%;
        left: 0;
    }

    .tab7.active .right-container img:nth-child(2) {
        bottom: -65%;
        right: 1%;
    }

    @keyframes left-to-mid {
        0% {
            position: fixed;
            left: -100%;
            opacity: 1;
        }

        100% {
            position: fixed;
            left: 0%;
            opacity: 1;
        }
    }

    @keyframes right-to-mid {
        0% {
            position: fixed;
            left: 100%;
            opacity: 1;
        }

        100% {
            position: fixed;
            left: 0;
            opacity: 1;
        }
    }
}