.tab {
    width: 100vw;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

@media only screen and (max-width: 768px) {
    .tab {
        position: relative;
        transition: 0s;
    }

    .tabs-container {
        position: fixed;
        width: 700%;
        height: 100vh;
        display: grid;
        grid-auto-flow: column;
        gap: 0;
        transition: 0.5s;
    }
}